<mat-toolbar color="primary">
  <span> &nbsp; </span> 
  <span noWrap=false> Weather Widget </span>
  <span class="example-spacer"></span>
  <span> &nbsp;</span>
</mat-toolbar>

<mat-card class="example-card">
  
  <img mat-card-image src={{image}} alt="Photo of Weather">
  <mat-card-content>
    
      <form #form="ngForm" >
      <mat-form-field>
      <label>Select a country</label>
        <select matNativeControl name="country" #serect [(ngModel)]="model.country" (change)="switchy(serect.value)" >
          <option value="0">
            Singapore
          </option>
          <option value="1">
              Beijing
            </option>
          <option value="2">
            London
          </option>
        </select>
      </mat-form-field>
      </form>
    <p>
      Country : {{ model.country}}
    </p>
    <p>
      Temperature : {{model.temp - 273.15 | number}}
    </p>
    <p>
      Pressure : {{model.pressure | number}} hPa
    </p>
    <p>
      Humidity : {{model.humidity | number}} %
    </p>
    <p>
      Remarks : {{model.description }} 
    </p>
    <p>
      Wind Speed - Degree : {{model.windSpeed }} - {{model.windDegree }} 
    </p>
  </mat-card-content>
  
</mat-card>